body{
    background-color: seashell; /*seashell, aliceblue*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-left: 10%; */
}
.content-wrapper{
  margin-right: auto;
  margin-left:  auto;

  max-width: 500px; 

  /*
    padding-right: 20px; 
    padding-left:  20px;
  */
  }

/* paragraph styles */
p{
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 14px;
  max-width: 600px;
}

/* trip title 1 styles */
h1{
  text-align: left;
  margin-left: 10%;
  font-weight: 800;
  font-size: 32px;
}

/* trip subtitle (t2) styles */
h2{
  text-align: left;
  margin-left: 10%;
  font-weight: 400;
  font-size: 20px;
}

/* supertitle styles */
h3{
  text-align: left;
  margin-left: 10%;
  font-weight: 400;
  colour: grey;
  font-size: 16px;
}

/* link styles */
h4{
  text-align: center;
  font-weight: 200;
  colour: rosybrown;
  font-size: 14px;
}


/* titles styles for day intros */

/*top level day intros styles*/
h5{
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 14px;
  max-width: 600px;
}


/* day number styles */
.dd{
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}
/* day title styles */
.dt{
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}
/* day of week styles */
.dw{
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
/* day separator styles */
.ds{
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
/* day text bold styles */
.db{
  text-align: left;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}
/* day text normal styles */
.dn{
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
/*for links*/
.lnk{
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}



.highlight{
    font-weight: 700;
    color: forestgreen;
}

ul li{
    list-style-type: square;
	text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 14px;
    max-width: 600px;
    margin-bottom: 10px;
}

/* img styles styles */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 0px;
    padding: 0px;
    width: 70%;
    max-width: 560px;
}
/* figcaption styles */
figcaption {
  text-align: center;
  font-size: 14px;
}
